* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  left: 0;
}
.background {
  background: url("/assets/bookstore.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 50px 500px 150px;
  gap: 1rem;
  width: 100%;
  height: 100vh;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 4;

  padding: 1rem;
  background-color: rgb(17, 14, 14);
}

.nav {
  display: flex;
  gap: 4rem;
}
.nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

/* förstår inte varför hover-effekten inte fungerar */

.nav a:hover {
  color: gold;
  cursor: pointer;
}

.titel {
  grid-column: 1 / span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
h1 {
  border-bottom: 0.5rem solid;
}

.product-list {
  display: flex;
  grid-column: 1 / span 4;

  justify-content: space-evenly;
  align-items: center;
}
.product-card {
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 4;
  padding: 1rem;
  font-size: 1.1rem;
  color: white;
  background-color: rgb(17, 14, 14);
  align-items: center;
  bottom: 0;

  width: 100%;
}
.footer-links {
  gap: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: white;
  gap: 3rem;
  font-size: 1.5rem;
}
footer p {
  position: absolute;
  left: 0;
}
